
@font-face
  font-family: PlayRegular
  src: url(fonts/play/Play-Regular.ttf)

@font-face
  font-family: PlayBold
  src: url(fonts/play/Play-Bold.ttf)


.desktop .layout-content
    overflow: auto

.container
  margin-right: auto
  margin-left: auto
  padding-left: 15px
  padding-right: 15px

@media (min-width: 768px)
  .container
    width: 100%

@media (min-width: 992px)
  .container
    width: 100%

@media (min-width: 1200px)
  .container
    width: 1170px

.container-fluid
  margin-right: auto
  margin-left: auto
  padding-left: 15px
  padding-right: 15px

.container-reset
  margin-left: -15px
  margin-right: -15px

.toolbar.light
  border-bottom: 1px solid #ddd

.drawer-content
  .list .list-label
    font-size: 12px
    padding: 8px
    border-bottom: 1px solid rgba(238, 238, 238, 0.65)
    line-height: normal

.has-text-right
  text-align: right
.has-text-left
  text-align: left
.has-text-centered
  text-align: center

.app-content
  overflow: auto
  width: 100%
  padding: 10px

.form-group
  margin: 0 0 10px 0

.button
  border-radius: 1px !important
  text-shadow: none !important
  box-shadow: 0 2px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23)

a:hover
  color: #4c7391
a
  color: #5b88aa
  text-decoration: none
  cursor: pointer
  outline: 0
  -webkit-transition: color 0.25s
  transition: color 0.25s

.button.primary
  color: #777001

input:not(.no-style), textarea:not(.no-style), .textfield:not(.no-style)
  padding-left: 8px
  padding-right: 8px
  border-width: 1px
  border-style: solid
  border-color: #e8e5e5
  background-color: #fff
  vertical-align: top
  border-radius: 1px
  box-shadow: none
  transition: all .5s ease;

input:not(.no-style):hover, textarea:not(.no-style):hover, .textfield:not(.no-style):hover
  border-bottom: 1px solid #e8e5e5
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.11), 0 0 0 1px rgba(0, 0, 0, 0.1)

input:disabled, textarea:disabled, .textfield:disabled
  background-color: #d0d0d0
  border-radius: 2px
  opacity: .6 !important
  border: 1px solid #cccccc

input:disabled:hover, textarea:disabled:hover, .textfield:disabled:hover
  border-bottom: 1px dotted #979797
  box-shadow: none

input:not(.no-style):focus, textarea:not(.no-style):focus, .textfield:not(.no-style):focus
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.33), 0 0 0 1px rgba(0, 0, 0, 0.1)
  border-bottom: 1px solid #e8e5e5

input:not(.no-style).has-error, textarea:not(.no-style).has-error, .textfield:not(.no-style).has-error
  border: 1px solid rgba(219, 40, 40, 0.27) !important
  border-radius: 2px
  background-color: rgba(255, 0, 0, 0.09)

.input
  width: 100%
.input-bar
  position: relative
  display: block
.input-bar:before, .input-bar:after
  content: " "
  background: #f4e211
  height: 2px
  width: 0
  position: absolute
  bottom: 2px
  transition: all
  transition-duration: 300ms
.input-bar:before
  left: 50%
.input-bar:after
  right: 50%
.input:focus ~ .input-bar:before, .input:focus ~ .input-bar:after
  width: 50%
.input.has-error ~ .input-bar:before, .input.has-error ~ .input-bar:after
  background: #f16a6a

textarea ~ .input-bar:before, textarea ~ .input-bar:after
  bottom: 5px

.stacked-label label, .floating-label label
  left: 6px;

.floating-label input:focus ~ label, .floating-label input:valid ~ label, .floating-label textarea:focus ~ label, .floating-label textarea:valid ~ label
  color: #d4c229

.top-label
  display: block
  margin: 0 2px 4px 2px

button.primary.clear, button.primary.outline
  color: #b5a216

body.desktop button.primary:not(.disabled).clear:hover
  background: rgba(255, 235, 59, 0.64)

.q-panel
  border: 1px solid #E0E0E0
  border-radius: 2px
  background: #ffffff

  .q-panel-header
    border-bottom: 1px solid #E0E0E0
    font-size: 18px
    padding: 20px
  .q-panel-footer
    border-top: 1px solid #E0E0E0
    padding: 10px 10px 0 0
    text-align: right
  .q-panel-header, .q-panel-footer
    background-color: #fafafa

  .q-panel-content
    padding: 10px


.fade-enter-active, .fade-leave-active
  transition: opacity .3s

.fade-enter, .fade-leave-active
  opacity: 0

body
  padding: 10px;

pre
  background: #e8e8e8
  padding: 10px
  margin: 10px 0
  border-radius: 2px

.form
  display: flex
  min-width: 300px
  width: 100%
  flex-wrap: wrap
  flex-flow: row wrap
  .field
    padding: 5px
    width: 100%
    &.half
      max-width: 50%
    &.one-quarter
      max-width: 25%
    &.two-quarters
      max-width: 50%
    &.three-quarters
      max-width: 75%
    &.one-fifth
      max-width: 20%
    &.two-fifths
      max-width: 40%
    &.three-fifths
      max-width: 60%
    &.four-fifths
      max-width: 80%
  .debug
    background: #e0e0e0
    padding: 10px
    margin: 10px 0
    border-radius: 2px
  .form-label
    font-size: 14px;
    padding: 2px 0 4px 0;

@media (max-width: 768px)
  .form
    .field
      &.half
        max-width: 100%
      &.one-quarter
        max-width: 100%
      &.two-quarters
        max-width: 100%
      &.three-quarters
        max-width: 100%
      &.one-fifth
        max-width: 100%
      &.two-fifths
        max-width: 100%
      &.three-fifths
        max-width: 100%
      &.four-fifths
        max-width: 100%

.p-5
  padding: 5px !important;
.p-10
  padding: 10px !important;
.p-20
  padding: 20px !important;
.p-30
  padding: 30px !important;
.p-20-30
  padding: 20px 30px !important;

.drawer
  position: relative
  box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.22)